
ul{
    text-align: center;
    height: 80px;
    max-width: auto;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    padding: 0px;
    font-size: 24px;
    max-width: 150px;
    height: 35px;
}


.menu{
    display: none;
    position: absolute;
    top: 10%;
}

a:hover{
    background: #333333;
    height: 55px;
}

li a{
    display: block;
    text-decoration: none;
    width: 170px;
    height: 50px;
    padding-top: 25px;
    margin-bottom: 5px;
    background: orange;
}

li a:link{
    color: white;
}

li a:visited{
    color: white;
}

/*/////////////////*/


ul li:hover > ul {
    display:inherit;
}

ul.menu li {
    display: list-item;
    position: relative;
    min-width: 170px;
    width: 160px;
    float: none;
    top: -16px;
    left: -145px;
    margin: 30px;
    height: 50px;
}


.form{
    display: none;
    width: 400px;
    height: 200px;
    text-align: center;
    padding-top: 55px;
    /*opacity: 0.7;*/
}

.form:target{
    display: block;
    position: absolute;
    top: 400px;
    left: 800px;
    right: 1600px;
    bottom: 600px;
    background: #3bc1a0;
    font-size: 24px;
}

a.close{
    text-decoration: #00C851;
}

.close:active > .form{
    display: none;
}

.flex{
    display: flex;
}
